<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/png" href="./assets/home.png">
</head>
<style>
*{
    margin: 0;
    padding: 0;
}
.container{
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
}
.container .header ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
} 
.container .header ul li:hover{
    cursor: pointer;
    letter-spacing: 4px;
    transition: 0.3s ease;
    text-decoration: underline;
}
</style>
<body>
    <div class="container">
        <div class="header">
            <ul>
                <li>Home</li>
                <li>About Us</li>
                <li>Contact Us</li>
                <li>Demo</li>
                <li>Pricing</li>
            </ul>
        </div>
    </div>

    <div class="hero">
        <img src="templates\assets\hero.jpg" alt="hero-image">
    </div>
</body>
</html>